@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Bebas+Neue&family=Corinthia&family=Courgette&family=Festive&family=Fredoka&family=Italianno&family=Jim+Nightshade&family=Lobster&family=Meow+Script&family=Merienda&family=Oswald:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}
canvas {
    box-shadow: 10px 20px 50px green;
    margin-left: 30%;
}
h1 {
    margin-left: 30%;
    font-family: 'Bebas Neue';
    font-size: 3rem;
}
.game-settings {
    display: flex;
    background-color: green;
    width: 15vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    left: 590px;
    top: 200px;
    font-size: x-large;
}
#options {
    top: 300px;
}
#slow {
    width: 0vw;
}
#normal {
    top: 300px;
    width: 0vw;
}
#fast {
    top: 400px;
    width: 0vw;
}
#back {
    top: 500px;
    width: 0vw;
}
.chosen-level {
    background-color: red;
}